Repository ahmedbadawy4/terraform-infrastructure: changes, and which Atlantis projects are due for each by the changed paths.
All: aws/dev/vpc, aws/dev/eks

atlantis.yaml:

version: 3
automerge: true
parallel_apply: true
parallel_plan: true
projects:
  - autoplan:
      enabled: true
      when_modified:
        - '*.hcl'
        - '*.tf*'
        - 'files'
    dir: aws/dev/vpc
  - autoplan:
      enabled: true
      when_modified:
        - '*.hcl'
        - '*.tf*'
        - 'files'
    dir: aws/dev/eks

Delete atlantis.yaml
  atlantis.yaml
Due: none

Create atlantis.yaml
  atlantis.yaml
Due: none

Update atlantis.yaml
  atlantis.yaml
Due: none

fix
  aws/dev/eks/terragrunt.hcl
  aws/dev/vpc/terragrunt.hcl
  aws/prod/account.yaml
  aws/prod/eks/config.yaml
  aws/prod/eks/terragrunt.hcl
  aws/prod/env.yaml
  aws/prod/vpc/config.yaml
  aws/prod/vpc/terragrunt.hcl
  aws/sandbox/account.yaml
  aws/sandbox/eks/config.yaml
  aws/sandbox/eks/terragrunt.hcl
  aws/sandbox/env.yaml
  aws/sandbox/vpc/config.yaml
  aws/sandbox/vpc/terragrunt.hcl
Due: aws/dev/vpc, aws/dev/eks

Test Atlantis ci
  aws/dev/vpc/terragrunt.hcl
Due: aws/dev/vpc

Update pre-commit.yml
  .github/workflows/pre-commit.yml
Due: none

Test Atlantis ci (#6)
  .github/workflows/pre-commit.yml
  atlantis.yaml
  aws/dev/vpc/terragrunt.hcl
Due: aws/dev/vpc

Fix core infra and documentation
  .github/workflows/infra-pipeline.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/terraform-pipeline.yaml
  CODEOWNERS
  README.md
  aws/prod/account.yaml
  aws/prod/eks/config.yaml
  aws/prod/eks/terragrunt.hcl
  aws/prod/env.yaml
  aws/prod/vpc/config.yaml
  aws/prod/vpc/terragrunt.hcl
  aws/terragrunt.hcl
  example/README.md
  example/config.tf
  example/main.tf
  example/outputs.tf
  example/variables.tf
  examples/deploy-vpc-eks-tf-example/tfvars/dev.tfvars
  examples/deploy-vpc-eks-tf-example/tfvars/prod.tfvars
  examples/deploy-vpc-eks-tg-example/README.md
  images/atlantis_Github_screenshoot.png
  images/atlantis_lock_screenshoot.png
  terragrunt.hcl
Due: none

Update documents and and Add Ansible configs
  .gitignore
  CODEOWNERS
  README.md
  atlantis-server/ansible/atlantis-playbook.yaml
  atlantis-server/ansible/inventory.yaml
  atlantis-server/terraform/README.md
  atlantis-server/terraform/config.tf
  atlantis-server/terraform/iam.tf
  atlantis-server/terraform/main.tf
  atlantis-server/terraform/outputs.tf
  atlantis-server/terraform/variables.tf
  example/main.tf
  makefile
Due: none

Update documents and and Add Ansible configs
  .github/workflows/infra-pipeline.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/terraform-pipeline.yaml
  .gitignore
  CODEOWNERS
  README.md
  atlantis-server/ansible/atlantis-playbook.yaml
  atlantis-server/ansible/inventory.yaml
  atlantis-server/terraform/README.md
  atlantis-server/terraform/config.tf
  atlantis-server/terraform/iam.tf
  atlantis-server/terraform/main.tf
  atlantis-server/terraform/outputs.tf
  atlantis-server/terraform/variables.tf
  aws/prod/account.yaml
  aws/prod/eks/config.yaml
  aws/prod/eks/terragrunt.hcl
  aws/prod/env.yaml
  aws/prod/vpc/config.yaml
  aws/prod/vpc/terragrunt.hcl
  aws/terragrunt.hcl
  example/README.md
  example/config.tf
  example/main.tf
  example/outputs.tf
  example/variables.tf
  examples/deploy-vpc-eks-tf-example/tfvars/dev.tfvars
  examples/deploy-vpc-eks-tf-example/tfvars/prod.tfvars
  examples/deploy-vpc-eks-tg-example/README.md
  images/atlantis_Github_screenshoot.png
  images/atlantis_lock_screenshoot.png
  makefile
  terragrunt.hcl
Due: none
